<meta charset="UTF-8">
<title>ECE AST</title>
<link rel="stylesheet"  href="/css/bootstrap.min.css">
<link rel="stylesheet"  href="/css/affichage.css">

<style>
    body    { padding:100px; }
</style>

<script src="/js/jquery-3.4.1.min.js"></script>

<script src="/js/bootstrap.min.js" /></script>